

body
{
    background-color:black;
}
h1{
    text-align: center;
    color: white;
}

input
{
    width: 400px;
    font-size: 22px;
    margin: 20px auto;
    display: block;
    border-style:groove;
    background-color: whitesmoke;
}
button
{
    width: 120px;
    margin: 10px auto;
    font-size: 22px;
    display: block;
    border-radius: 20px;
    background-color: azure;
}

img{
    width: 220px;
    height: 250px;
    margin: 10px;
    border: 2px double black;

}


#list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure
{
    width:250px;
    border: 5px solid  grey;
    background-color: azure;
  

}
h2{
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p
{
    text-align: center;
    text-decoration: wavy;
  
}

button:active
{
   transform: scale(0.85);
}